{% extends "network/layout.html" %}

{% block body %}

<div class="register-container card card-body">
    <h2 class="register-title">Register</h2>

    {% if message %}
        <div class="message alert alert-danger">{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control form-input" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control form-input" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control form-input" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control form-input" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary btn-submit" type="submit" value="Register">
    </form>

    <div class="login-link">
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>
</div>

{% endblock %}
